<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	https://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id = "lRodriguezMontMult" class = "mpl.LRodriguezMontgomeryMult"></bean>
	<bean id = "walterMontMult" class = "mpl.WalterMontgomeryMult"></bean>

	<bean id = "montgomeryExp" class = "mpl.MontgomeryExp">
		<constructor-arg ref="lRodriguezMontMult"/>
		<!--<constructor-arg ref="walterMontMult"/>-->
	</bean>


</beans>
